li {
    background-color: black;
    color: orangered;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 700px;
}
.buttonList {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.avatar-row {
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}

.avatar-info {
    width: 70%;
}

.avatar-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    margin-left: 20px;
}
input {
    background-color: lightcyan;
}

button {
    background-color: lightskyblue;
    font: bold;
    font-style: oblique;
    font-size: large;
    color: black;
}