<h3>Persons Room</h3>

<button mat-flat-button (click)="showForm = true">Create Person</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div class="exit-button">
            <div (click)="onCancelForm()">X</div>
        </div>

        <h1 *ngIf="!isFormEdition">Create Person</h1>
        <h1 *ngIf="isFormEdition">Edit Person</h1>

        <form #npersonForm="ngForm" (ngSubmit)="submit(npersonForm)">
          <!-- Last Name -->
           <mat-form-field>
              <mat-label>Last Name :</mat-label>
              <input matInput type="text" name="lastname" [(ngModel)]="lastname" required #lastnameField="ngModel">
              <mat-error *ngIf="lastnameField.invalid && lastnameField.touched">Date of event is required.</mat-error>
           </mat-form-field>
          <!-- First Name -->
           <mat-form-field>
              <mat-label>First Name :</mat-label>
              <input matInput type="text" name="firstname" [(ngModel)]="firstname" required #firstnameField="ngModel">
              <mat-error *ngIf="firstnameField.invalid && firstnameField.touched">First Name is required.</mat-error>
           </mat-form-field>
          <!-- Email -->
           <mat-form-field>
              <mat-label>Email :</mat-label>
              <input matInput type="text" name="email" [(ngModel)]="email" required #emailField="ngModel">
              <mat-error *ngIf="emailField.invalid && emailField.touched">Email is required.</mat-error>
           </mat-form-field>
          
          <!-- Address Street -->
           <mat-form-field>
              <mat-label>Street :</mat-label>
              <input matInput type="text" name="addess_Street" [(ngModel)]="addess_Street" required #address_StreetField="ngModel">
              <mat-error *ngIf="address_StreetField.invalid && address_StreetField.touched">Street is required.</mat-error>
           </mat-form-field>
          <!-- Address Nbr -->
           <mat-form-field>
              <mat-label>Number :</mat-label>
              <input matInput type="text" name="address_Nbr" [(ngModel)]="address_Nbr" required #address_NbrField="ngModel">
              <mat-error *ngIf="address_NbrField.invalid && address_NbrField.touched">Number is required.</mat-error>
           </mat-form-field>
          <!-- Postal Code -->
           <mat-form-field>
              <mat-label>Postal Code :</mat-label>
              <input matInput type="text" name="postalCode" [(ngModel)]="postalCode" required #postalCodeField="ngModel">
              <mat-error *ngIf="postalCodeField.invalid && postalCodeField.touched">Postal Code is required.</mat-error>
           </mat-form-field>
          <!-- address_City -->
           <mat-form-field>
              <mat-label>City :</mat-label>
              <input matInput type="text" name="address_City" [(ngModel)]="address_City" required #address_CityField="ngModel">
              <mat-error *ngIf="address_CityField.invalid && address_CityField.touched">City is required.</mat-error>
           </mat-form-field>
          <!-- address Country -->
           <mat-form-field>
              <mat-label>Country :</mat-label>
              <input matInput type="text" name="address_Country" [(ngModel)]="address_Country" required #address_CountryField="ngModel">
              <mat-error *ngIf="address_CountryField.invalid && address_CountryField.touched">Country is required.</mat-error>
           </mat-form-field>
          <!-- Telephone -->
           <mat-form-field>
              <mat-label>Phone :</mat-label>
              <input matInput type="text" name="telephone" [(ngModel)]="telephone" required #telephoneField="ngModel">
              <mat-error *ngIf="telephoneField.invalid && telephoneField.touched">Phone is required.</mat-error>
           </mat-form-field>
          <!-- Gsm -->
           <mat-form-field>
              <mat-label>Gsm :</mat-label>
              <input matInput type="text" name="gsm" [(ngModel)]="gsm" required #gsmField="ngModel">
              <mat-error *ngIf="gsmField.invalid && gsmField.touched">Gsm is required.</mat-error>
           </mat-form-field>
          
          <button mat-flat-button type="submit" [disabled]="npersonForm.invalid">Submit</button>
          <!-- <button mat-flat-button type="button" (click)="getAllNPersons()">All Persons</button> -->
      </form>
    </div> 
</div>


<hr />

<table mat-table [dataSource]="listNPersons" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef>Last Name : </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>First Name :  </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email : </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address_street">
      <th mat-header-cell *matHeaderCellDef> Street : </th>
      <td mat-cell *matCellDef="let element"> {{element.address_street}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address_Nbr">
        <th mat-header-cell *matHeaderCellDef> N° : </th>
        <td mat-cell *matCellDef="let element"> {{element.address_Nbr}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="postalCode">
        <th mat-header-cell *matHeaderCellDef> Postal Code : </th>
        <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="address_City">
        <th mat-header-cell *matHeaderCellDef> City : </th>
        <td mat-cell *matCellDef="let element"> {{element.address_City}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="address_Country">
        <th mat-header-cell *matHeaderCellDef> Country : </th>
        <td mat-cell *matCellDef="let element"> {{element.address_Country}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef> Telephone : </th>
        <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="gsm">
        <th mat-header-cell *matHeaderCellDef> Gsm : </th>
        <td mat-cell *matCellDef="let element"> {{element.gsm}} </td>
      </ng-container>
      <ng-container matColumnDef="NPerson_Id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>
  
            <button mat-mini-fab disabled aria-label="edit" (click)="onEdition(element.NPerson_Id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
  
          <!-- {{element.activity_Id}} -->
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>