h1 {
  font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0,
        "XELA" 0,
        "YELA" 0;
    color: red;
}
li {
    background-color: black;
    color: chartreuse;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 700px;
}

.buttonList {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.activity-row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.activity-info {
  width: 70%;
}

.activity-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30px;
  margin-left: 20px;
}

.vote-bar, .feedback-bar {
  width: 10px;
  margin: 2px 0;
  border-radius: 3px;
}

.upvote-bar {
  background-color: chartreuse;
}

.downvote-bar {
  background-color: red;
}

.feedback-bar {
  background-color: lightblue;
}
.map-container {
  height: 80vh;
}
.map-frame {
  border: 2px solid var(--primary-500);
  height: 100%;
  box-shadow: 15px 15px rgba(255, 255, 255, 0.51);
}

#map { 
  /* height: 400px; */
  /* width: 100%; */
  height: 100%;
 }
