li {
    background-color: gold;
}

input {
    background-color: lightgoldenrodyellow;
}

button {
    background-color: lightskyblue;
    font: bold;
    font-style: oblique;
    font-size: large;
    color: black;
}