<h3>Avatar Room</h3>

<button mat-flat-button (click)="showForm = true">Create Avatar</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div>
            <div class="exit-button">
                <div (click)="onCancelForm()">X</div>
            </div>
        </div>

        <h1 *ngIf="!isFormEdition">Create Avatar</h1>
        <h1 *ngIf="isFormEdition">Edit Avatar</h1>

        <form #avatarForm="ngForm" (ngSubmit)="submit(avatarForm)">
          <!-- AvatarName -->
            <mat-form-field>
              <mat-label>Avatar Name :</mat-label>
              <input matInput type="text" name="avatarName" [(ngModel)]="avatarName" required #avatarNameField="ngModel">
              <mat-error *ngIf="avatarNameField.invalid && avatarNameField.touched">Activity Name is required.</mat-error>
            </mat-form-field>
            <!-- Url -->
             <mat-form-field>
              <mat-label>Avatar Url :</mat-label>
              <input type="text" name="avatarUrl" [(ngModel)]="avatarUrl" required #avatarUrlField="ngModel">
              <mat-error *ngIf="avatarUrlField.invalid && avatarUrlField.touched">Url is required.</mat-error>
             </mat-form-field>
            <!-- Description -->
            Description :
            <input type="text" name="description" [(ngModel)]="description" required #descriptionField="ngModel">
            <div *ngIf="descriptionField.invalid && descriptionField.touched">
                Description is required.
            </div>
            <button mat-flat-button type="submit" [disabled]="avatarForm.invalid">Submit</button>
            <!-- <button mat-flat-button type="button" (click)="getAllAvatars()">All Avatars</button> -->
            <!-- <button (click)="deleteAvatar(avatar_Id)">Delete</button>
            <button (click)="getAllAvatar()">All Avatars</button>
            <button (click)="getAvatar(avatar_Id)">Details avatar</button> -->
        </form>
    </div>
</div>

<hr />

<table mat-table [dataSource]="listAvatars" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="avatarName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.avatarName}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="avatarUrl">
      <th mat-header-cell *matHeaderCellDef> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.avatarUrl}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
      <ng-container matColumnDef="avatar_Id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>
  
            <button mat-mini-fab disabled aria-label="edit" (click)="onEdition(element.avatar_Id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
  
          <!-- {{element.activity_Id}} -->
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  