<h3>Media Items Room</h3>
<form #form="ngForm" (ngSubmit)="submit()">
    Media Type : <input type="text" name="mediaType" [(ngModel)]="mediaType" required>
    Url Item : <input type="text" name="urlItem" [(ngModel)]="urlItem" required>
    Description : <input type="text" name="description" [ngModel]="description" required>
    <button (click)="submit()">Submit</button>
</form>
<hr />
<ul>
    <li *ngFor="let medi of ListMediaItem">
        {{medi.mediaType}}
        {{medi.urlItem}}
        {{medi.description}}
    </li>
</ul>