<div class="container">
  <app-activity></app-activity>

  <hr />
  <app-avatar></app-avatar>
  <hr />
  <app-bonus></app-bonus>
  <hr />
  <app-chatactivity></app-chatactivity> 
  <hr />
  <app-chatevenement></app-chatevenement>
  <hr />
  <app-map></app-map>
  <hr />
  <app-mediaitem></app-mediaitem>
  <hr />
  <app-nevenement></app-nevenement>
  <hr />
  <app-nicon></app-nicon>
  <hr />
  <app-nperson></app-nperson>
  <hr />
  <app-nuser></app-nuser>
  <hr />
  <app-nvote></app-nvote>
  <hr />
  <app-organisateur></app-organisateur>
  <hr />
  <app-recompense></app-recompense>
  <hr />
  <app-weatherforecast></app-weatherforecast>
</div>


