<h3>Votes Room</h3>

<button mat-flat-button (click)="showForm = true">Create Vote</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div class="exit-button">
            <div (click)="showForm = false">X</div>
        </div>
    </div>
    <form #nVoteForm="ngForm" (ngSubmit)="submit(nVoteForm)">
        <!-- Id Evenement -->
         <mat-form-field>
            <mat-label>Id Event :</mat-label>
            <input matInput type="number" name="nEvenement_Id" [(ngModel)]="nEvenement_Id" required #nEvenement_IdField="ngModel">
            <mat-error *ngIf="nEvenement_IdField.invalid && nEvenement_IdField.touched">Id Event is required.</mat-error>
         </mat-form-field>
        <!-- Fun ? -->
         <mat-form-field>
            <mat-label>Fun ? :</mat-label>
            <input matInput type="text" name="funOrNot" [(ngModel)]="funOrNot" required #funOrNotField="ngModel">
            <mat-error *ngIf="funOrNotField.invalid && funOrNotField.touched">Your vote is required.</mat-error>
         </mat-form-field>
        <!-- Comment -->
         <mat-form-field>
            <mat-label>Comment :</mat-label>
            <input matInput type="text" name="comment" [(ngModel)]="comment" required #commentField="ngModel">
            <mat-error *ngIf="commentField.invalid && commentField.touched">Your comment is required.</mat-error>
         </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="nVoteForm.invalid">Submit</button>
        <button mat-flat-button type="button" (click)="getAllNVotes()">All Activities</button>
    </form>
</div>

<hr />
<!-- <ul>
    <li *ngFor="let vo of listNVotes">
        {{vo.nEvenement_Id}}
        {{vo.funOrNot}}
        {{vo.comment}}
    </li>
</ul> -->
<table mat-table [dataSource]="listNVotes" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nEvenement_Id">
      <th mat-header-cell *matHeaderCellDef>Id Event : </th>
      <td mat-cell *matCellDef="let element"> {{element.nEvenement_Id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="funOrNot">
      <th mat-header-cell *matHeaderCellDef>Fun Or Not : </th>
      <td mat-cell *matCellDef="let element"> {{element.funOrNot}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment : </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
      <ng-container matColumnDef="nVote_Id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>
  
            <button mat-mini-fab disabled aria-label="edit">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
  
          <!-- {{element.activity_Id}} -->
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>