<h3>Events Room</h3>

<button mat-flat-button (click)="showForm">Create Event</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div class="exit-button">
            <div (click)="onCancelForm()">X</div>
        </div>

        <h1 *ngIf="!isFormEdition">Create Event</h1>
        <h1 *ngIf="isFormEdition">Edit Event</h1>

        <form #nevenementForm="ngForm" (ngSubmit)="submit(nevenementForm)">
          <!-- Date Event -->
           <mat-form-field>
              <mat-label>Date Event :</mat-label>
              <input matInput type="date" name="nevenementDate" [(ngModel)]="nEvenementDate" required #nEvenementDateField="ngModel">
              <mat-error *ngIf="nEvenementDateField.invalid && nEvenementDateField.touched">Date of event is required.</mat-error>
           </mat-form-field>
          <!-- Name Event -->
           <mat-form-field>
              <mat-label>Name Event :</mat-label>
              <input matInput type="text" name="nevenementName" [(ngModel)]="nEvenementName" required #nEvenementNameField="ngModel">
              <mat-error *ngIf="nEvenementNameField.invalid && nEvenementNameField.touched">Name of event is required.</mat-error>
           </mat-form-field>
          <!-- Description -->
           <mat-form-field>
              <mat-label>Description :</mat-label>
              <input matInput type="text" name="nEvenementDescription" [(ngModel)]="nEvenementDescription" required #nEvenementDescriptionField="ngModel">
              <mat-error *ngIf="nEvenementDescriptionField.invalid && nEvenementDescriptionField.touched">Description is required.</mat-error>
           </mat-form-field>
          <!-- Latitude -->
           <mat-form-field>
              <mat-label>Latitude :</mat-label>
              <input matInput type="text" name="posLat" [(ngModel)]="posLat" required pattern="^-?\d+\.\d{5}$" #posLatField="ngModel">
              <mat-error *ngIf="posLatField.invalid && posLatField.touched">Error.</mat-error>
           </mat-form-field>
          <!-- Longitude -->
           <mat-form-field>
              <mat-label>Longitude :</mat-label>
              <input matInput type="text" name="posLong" [(ngModel)]="posLong" required pattern="^-?\d+\.\d{5}$" #posLongField="ngModel">
              <mat-error *ngIf="posLongField.invalid && posLongField.touched">Error.</mat-error>
           </mat-form-field>
          <!-- Positif? -->
           <mat-form-field>
              <mat-label>Positif ? :</mat-label>
              <input matInput type="text" name="positif" [(ngModel)]="positif" required #positifField="ngModel">
              <mat-error *ngIf="positifField.invalid && positifField.touched">Your opinion is required.</mat-error>
           </mat-form-field>
          <!-- Organisateur -->
           <mat-form-field>
              <mat-label>Organisateur Id :</mat-label>
              <input matInput type="number" name="organisateur_Id" [(ngModel)]="organisateur_Id" required #organisateurField="ngModel">
              <mat-error *ngIf="organisateurField.invalid && organisateurField.touched">Id Organisator is required.</mat-error>
           </mat-form-field>
          <!-- Icon -->
           <mat-form-field>
              <mat-label>Icon Id :</mat-label>
              <input matInput type="number" name="nIcon_Id" [(ngModel)]="nIcon_Id" required #nIcon_IdField="ngModel">
              <mat-error *ngIf="nIcon_IdField.invalid && nIcon_IdField.touched">Id icon is required.</mat-error>
           </mat-form-field>
          <!-- Recompense -->
           <mat-form-field>
              <mat-label>Recompense Id :</mat-label>
              <input matInput type="number" name="recompense_Id" [(ngModel)]="recompense_Id" required #recompense_IdField="ngModel">
              <mat-error *ngIf="recompense_IdField.invalid && recompense_IdField.touched">Id recompense is required.</mat-error>
           </mat-form-field>

          <!-- Bonus -->
           <mat-form-field>
              <mat-label>Bonus Id :</mat-label>
              <input matInput type="number" name="bonus_Id" [(ngModel)]="bonus_Id" required #bonus_IdField="ngModel">
              <mat-error *ngIf="bonus_IdField.invalid && bonus_IdField.touched">Id bonus is required.</mat-error>
           </mat-form-field>

          <!-- Media Item -->
           <mat-form-field>
              <mat-label>Organisateur Id :</mat-label>
              <input matInput type="number" name="mediaItem_Id" [(ngModel)]="mediaItem_Id" required #mediaItemField="ngModel">
              <mat-error *ngIf="mediaItemField.invalid && mediaItemField.touched">Media Item Id is required.</mat-error>
          </mat-form-field>
          <button mat-flat-button type="submit" [disabled]="nevenementForm.invalid">Submit</button>
          <!-- <button mat-flat-button type="button" (click)="getAllNEvenements()">All Events</button> -->
      </form>
    </div>
</div>

<hr />

<table mat-table [dataSource]="listNEvenements" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nEvenementDate">
      <th mat-header-cell *matHeaderCellDef>Date of Event : </th>
      <td mat-cell *matCellDef="let element"> {{element.nEvenementDate}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nEvenementName">
      <th mat-header-cell *matHeaderCellDef>Name of Event : </th>
      <td mat-cell *matCellDef="let element"> {{element.nEvenementName}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="nEvenementDescription">
      <th mat-header-cell *matHeaderCellDef> Description : </th>
      <td mat-cell *matCellDef="let element"> {{element.nEvenementDescription}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="posLat">
      <th mat-header-cell *matHeaderCellDef> Latitude : </th>
      <td mat-cell *matCellDef="let element"> {{element.posLat}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="posLong">
        <th mat-header-cell *matHeaderCellDef> Longitude : </th>
        <td mat-cell *matCellDef="let element"> {{element.posLong}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="positif">
        <th mat-header-cell *matHeaderCellDef> Positif? : </th>
        <td mat-cell *matCellDef="let element"> {{element.positif}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="organisateur_Id">
        <th mat-header-cell *matHeaderCellDef> Id Organisator : </th>
        <td mat-cell *matCellDef="let element"> {{element.organisateur_Id}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="nIcon_Id">
        <th mat-header-cell *matHeaderCellDef> Id Icon : </th>
        <td mat-cell *matCellDef="let element"> {{element.nIcon_Id}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="recompense_Id">
        <th mat-header-cell *matHeaderCellDef> Id Recompense : </th>
        <td mat-cell *matCellDef="let element"> {{element.recompense_Id}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="bonus_Id">
        <th mat-header-cell *matHeaderCellDef> Id Bonus : </th>
        <td mat-cell *matCellDef="let element"> {{element.bonus_Id}} </td>
      </ng-container>
      <!-- Symbol Column -->
    <ng-container matColumnDef="mediaItem_Id">
        <th mat-header-cell *matHeaderCellDef> Id Media Item : </th>
        <td mat-cell *matCellDef="let element"> {{element.mediaItem_Id}} </td>
      </ng-container>
      <ng-container matColumnDef="nevenement_id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>

            <button mat-mini-fab disabled aria-label="edit" (click)="onEdition(element.nEvenement_Id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
