<h3>Weather Forecasts Room</h3>

<!-- <button mat-flat-button (click)="showForm">Create Recompense</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div class="exit-button">
            <div (click)="onCancelForm()">X</div>
        </div>

        <h1 *ngIf="!isFormEdition">Create Weather Forecast</h1>
        <h1 *ngIf="isFormEdition">Edit Weather Forecast</h1>

        <form #weatherForecastForm="ngForm" (ngSubmit)="submit(weatherForecastForm)"> -->
          <!-- Date -->
          <!-- <mat-form-field>
            <mat-label>Date :</mat-label>
            <input matInput type="text" name="date" [(ngModel)]="date" required #dateField="ngModel">
            <mat-error *ngIf="dateField.invalid && dateField.touched">C° is required.</mat-error>
         </mat-form-field> -->
          <!-- TemperatureC -->
           <!-- <mat-form-field>
              <mat-label>Temperature C° :</mat-label>
              <input matInput type="text" name="temperatureC" [(ngModel)]="temperatureC" required #temperatureCField="ngModel">
              <mat-error *ngIf="temperatureCField.invalid && temperatureCField.touched">C° is required.</mat-error>
           </mat-form-field> -->
          <!-- TemperatureF -->
           <!-- <mat-form-field>
              <mat-label>Temperature F° :</mat-label>
              <input matInput type="text" name="temperatureF" [(ngModel)]="temperatureF" required #temperatureFField="ngModel">
              <mat-error *ngIf="temperatureFField.invalid && temperatureFField.touched">F° is required.</mat-error>  
           </mat-form-field> -->
          <!-- Summary -->
           <!-- <mat-form-field>
              <mat-label>Summary :</mat-label>
              <input matInput type="text" name="summary" [(ngModel)]="summary" required #summaryField="ngModel">
              <mat-error *ngIf="summaryField.invalid && summaryField.touched">Summary is required.</mat-error>
           </mat-form-field> -->
          <!-- Description -->
           <!-- <mat-form-field>
              <mat-label>Description :</mat-label>
              <input matInput type="text" name="description" [(ngModel)]="description" required #descriptionField="ngModel">
              <mat-error *ngIf="descriptionField.invalid && descriptionField.touched">Description is required.</mat-error>
           </mat-form-field> -->
          <!-- Humidity -->
           <!-- <mat-form-field>
              <mat-label>Humidity :</mat-label>
              <input matInput type="text" name="humidity" [(ngModel)]="humidity" required #humidityField="ngModel">
              <mat-error *ngIf="humidityField.invalid && humidityField.touched">Humidity rate is required.</mat-error>
           </mat-form-field> -->
          <!-- Precipitation -->
           <!-- <mat-form-field>
              <mat-label>Precipitation :</mat-label>
              <input matInput type="text" name="precipitation" [(ngModel)]="precipitation" required #precipitationField="ngModel">
              <mat-error *ngIf="precipitationField.invalid && precipitationField.touched">Precipitation rate is required.</mat-error>
           </mat-form-field> -->
          
          <!-- NEvenement_Id -->
          <!-- Id Event :
          <input type="number" name="nEvenement_Id" [(ngModel)]="nEvenement_Id" required #nEvenement_IdField="ngModel">
          <div *ngIf="nEvenement_IdField.invalid && nEvenement_IdField.touched">
              Id Event is required.
          </div>
      
          <button type="submit" [disabled]="weatherForecastForm.invalid">Submit</button> -->
          <!-- <button type="button" (click)="getAllWeatherForecasts()">All Weather Forecasts</button> -->
      <!-- </form>
    </div> 
</div>

<hr />

<table mat-table [dataSource]="listWeatherForecasts" class="mat-elevation-z8"> -->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Date Column -->
    <!-- <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date : </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container> -->
    <!-- Temperature Column -->
    <!-- <ng-container matColumnDef="temperatureC">
      <th mat-header-cell *matHeaderCellDef>C° : </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatureF}} </td>
    </ng-container> -->
  
    <!-- Name Column -->
    <!-- <ng-container matColumnDef="temperatureF">
      <th mat-header-cell *matHeaderCellDef>F° :  </th>
      <td mat-cell *matCellDef="let element"> {{element.temperatureF}} </td>
    </ng-container> -->
  
    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="summary">
      <th mat-header-cell *matHeaderCellDef> Summary : </th>
      <td mat-cell *matCellDef="let element"> {{element.summary}} </td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description : </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container> -->
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity : </th>
        <td mat-cell *matCellDef="let element"> {{element.humidity}} </td>
      </ng-container> -->
      <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="precipitation">
        <th mat-header-cell *matHeaderCellDef> Precipitation : </th>
        <td mat-cell *matCellDef="let element"> {{element.precipitation}} </td>
      </ng-container> -->
      <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="nEvenement_Id">
        <th mat-header-cell *matHeaderCellDef> Id Event : </th>
        <td mat-cell *matCellDef="let element"> {{element.nEvenement_Id}} </td>
      </ng-container>
      <ng-container matColumnDef="weatherForecast_Id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>
  
            <button mat-mini-fab disabled aria-label="edit" (click)="onEdition(element.weatherForecast_Id)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
   -->
          <!-- {{element.activity_Id}} -->
        <!-- </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->