<h3>Map room</h3>

<button mat-flat-button (click)="showForm = true">Create Map</button>

<div *ngIf="showForm" class="overlay">
    <div class="overlay-container">
        <div class="exit-button">
            <div (click)="showForm">X</div>
        </div>
    </div>
    <form #mapForm="ngForm" (ngSubmit)="submit(mapForm)">
        <!-- date creation -->
         <mat-form-field>
            <mat-label>Date Création :</mat-label>
            <input matInput type="datetime" name="datecreation" [(ngModel)]="dateCreation" required #dateCreationField="ngModel">
            <mat-error *ngIf="dateCreationField.invalid && dateCreationField.touched">Bonus Type is required.</mat-error>
         </mat-form-field>
        <!-- MapUrl -->
         <mat-form-field>
            <mat-label>Map Url :</mat-label>
            <input matInput type="text" name="mapurl" [(ngModel)]="mapUrl" required #mapUrlField="ngModel">
            <mat-error *ngIf="mapUrlField.invalid && mapUrlField.touched">Url of map is required.</mat-error>
         </mat-form-field>
        <!-- Description -->
         <mat-form-field>
            <mat-label>Description :</mat-label>
            <input matInput type="text" name="description" [(ngModel)]="description" required #descriptionField="ngModel">
            <mat-error *ngIf="descriptionField.invalid && descriptionField.touched">Description is required.</mat-error>
         </mat-form-field>
        <button mat-flat-button type="submit" [disabled]="mapForm.invalid">Submit</button>
        <button mat-flat-button type="button" (click)="getAllMaps()">All Activities</button>
   </form>
</div>


<hr />
<!-- <ul *ngFor="let mp of listMaps">
    <li>
        {{mp.dateCreation}}
        {{mp.mapUrl}}
        {{mp.description}}
    </li>
</ul> -->
<table mat-table [dataSource]="listMaps" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="dateCreation">
      <th mat-header-cell *matHeaderCellDef>Date Creation </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreation}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="mapUrl">
      <th mat-header-cell *matHeaderCellDef>Map's Url : </th>
      <td mat-cell *matCellDef="let element"> {{element.mapUrl}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description: </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
      <ng-container matColumnDef="map_Id">
        <th mat-header-cell *matHeaderCellDef> Option </th>
        <td mat-cell *matCellDef="let element">
          <div class="buttonList">
            <button mat-mini-fab disabled aria-label="delete">
              <mat-icon>delete</mat-icon>
            </button>
  
            <button mat-mini-fab disabled aria-label="edit">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
  
          <!-- {{element.activity_Id}} -->
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>