li { 
    background-color: black;
    color: chartreuse;
}

input {
    background-color: lightcyan;
}

button {
    background-color: lightskyblue;
    font: bold;
    font-style: oblique;
    font-size: large;
    color: black;
}

#map {
    height: 100vh;
    width: 100%;
    min-height: 400px;
}