
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$tagandgo-angular1-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($tagandgo-angular1-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($tagandgo-angular1-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($tagandgo-angular1-theme);
/* You can add global styles to this file, and also import other style files */

@import './assets/styles/overlay.scss';
@import './assets/styles/leave.scss';
@import "leaflet/dist/leaflet.css";


html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Sixtyfour Convergence", sans-serif;
    background-color: rgb(255, 255, 255);
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  margin: 20px 100px;
}

.router-link-active span,
.router-link-active mat-icon
{
  font-weight: bold;
  color: #005cbb;
}

